server:
  port: 8082

spring:
  application:
    name: PAY-SERVICE

  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    config:
      fail-fast: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
